{% extends 'layout.html' %}

{% block content %}

<hr>
<h1>Ajax学习</h1>
<div class="container">
    <form id = 'addform' novalidate >
        {% for field in form %}
        <div class="mb-3" style="position: relative;">
          <label style="margin-top: 15px;" for="exampleInputEmail1" class="form-label">{{field.label}}</label>
          {{field}}
            <span class="error" style="position: absolute; color: red;"></span>
        </div>
        {% endfor %}
        <button id="btnadd" type="button" class="btn btn-primary">Submit</button>
      </form>
      <div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">标题</th>
                        <th scope="col">级别</th>
                        <th scope="col">负责人</th>
                        <th scope="col">操作</th>
        
                      </tr>
                    </thead>
                    <tbody>
                    {% for user in queryset %}
                        <tr>
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.title}}</td>
                            <td>{{user.get_level_display}}</td>
                            <td>{{user.user.username}}</td>
                            <td>
                                <a href="" class="btn btn-primary btn-sm" target="_blank">编辑</a>
                                <a href="" class="btn btn-danger btn-sm">删除</a>
                            </td>
                          </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
    </div>



</div>
<h3>示例</h3>
<!-- <input type="button" class="btn btn-primary" value="提交" onclick="clickMe()"> -->
<input id="btn1" type="button" class="btn btn-primary" value="提交">

<h3>示例2</h3>
<input type="text" id='user' placeholder="姓名">
<input type="text" id="age" placeholder="年龄">
<input type="button" id="btn2" class="btn btn-primary" value="提交">

<h3>示例3</h3>
<form id='form1'>
    <input type="text" id='user' placeholder="姓名" name="name">
    <input type="text" id="age" placeholder="年龄" name="age">
    <input type="text" id="email" placeholder="邮箱" name="email">
    <input type="button" id="btn3" class="btn btn-primary" value="提交">
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function () {
        //当页面加载完成后，代码自动执行
        bindBtn1Event();
        bindBtn2Event();
        bindBtn3Event();
        bindbtnaddEvent();

    })
    function bindBtn1Event() {
        $("#btn1").click(function () {
            $.ajax({
                url: '/task_ajax',
                type: 'get', // post
                data: {
                    h1: 123,
                    h2: 456
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res),
                        console.log(res.status)
                }
            })
        })
    }
    // function clickMe() {
    //     $.ajax({
    //         url: '/task_ajax',
    //         type:'get', // post
    //         data: {
    //             h1:123,
    //             h2:456
    //         },
    //         success: function(res) {
    //             console.log(res)
    //         }
    //     })
    // }
    function bindBtn2Event() {
        $('#btn2').click(function () {
            $.ajax({
                url: '/task_ajax',
                type: 'post',
                data: {
                    n1: $('#user').val(),
                    n2: $('#age').val()
                },
                dataType: 'json',
                //     success: function (res) {
                //         console.log(res),
                //         console.log(res.status)
                //     }
            })
        })
    }

    function bindBtn3Event() {
        $('#btn3').click(function () {
            $.ajax({
                url: '/task_ajax',
                type: 'post',
                data: $('#form1').serialize(),
                dataType: 'json',
            })
        })
    }
    function bindbtnaddEvent() {
        
        $('#btnadd').click(function() {
            $('.error').empty();
            $.ajax({
                url : '/task_add',
                type :'post',
                data : $('#addform').serialize(),
                dataType : 'json',
                success : function(res) {
                    if(res.status) {
                        alert('添加成功');
                        location.reload();
                    } else {
                        // alert('添加失败');
                        $.each(res.msg, function(name,data) {
                            $('#id_' + name).next().text(data[0])
                        })
                    }
                }
            })
            
        })
    }

</script>

{% endblock %}